<section class="one-block-image">
  <div class="row">
    <a class="col" href="{{ section.settings.link }}">
      {% if section.settings.image  != blank %}
      <img src="{{ section.settings.image | img_url: '2000x' }}" alt=""/>
      {% else %}
      <span class="not_img">( 1180 x 225 )px</span>
      {% endif %}
    </a>
  </div>
</section>
{% schema %}
  {
    "name": "One Image Block",
    "settings": [
      {	
          "type" : "image_picker",
          "id" : "image",
          "label" : "Select image"
      },
	  {
	  	"type" : "url",
		"id" : "link",
		"label" : "Link image"
	  }
	
	],
	"presets": [
      {
        "name": "One Image Block",
	  	"category": "Images Blocks "
      }
    ]
  }
{% endschema %}