
<div class="row">
  {% if settings.display_sidebar_cat_page %}
  <div class="sidebar-mb">
    <a href="javascript:void(0)">{% include 'lang' with settings.title_sidebar_mb %}<i class="fa fa-plus"></i></a>
  </div>
  {% endif %}
  <div class="page-sidebar {% if settings.display_sidebar_cat_page %}col-md-3{% endif %}">
    <div class="content_sidebar">
      {% section 'sidebar' %}
    </div>
  </div>
  <div class="block-row col-main {% if settings.display_sidebar_cat_page %}col-md-9 {% else %}col-md-12{% endif %}" style="{% if settings.display_sidebar_cat_page == false %}max-width: 100%; flex: 0 0 100%;padding:0;{% endif %}">
    {% section 'collection-header' %}
    {% section 'collection-template' %} 
  </div>
</div>




