<div class="row product-detail">
  {% if settings.display_sidebar_product %}
  <div class="page-sidebar col-md-3">
    <div class="content_sidebar">
      <div class="sidebar-mb">
        <a href="javascript:void(0)">Show sidebar <i class="fa fa-chevron-down"></i></a>
      </div>
      {% section 'product-sidebar' %}
    </div>
  </div>
  {% endif %}

  <div class="col-main {% if settings.display_sidebar_product %}col-md-9 {% else %}col-md-12{% endif %}" {% if settings.display_sidebar_product == false %}style="max-width: 100%; flex: 0 0 100%;padding:0;"{% endif %}>
    {% section 'product-template' %}
    {% section 'recently-viewed-products' %}
  </div>
</div>
